body {
    background: #555555;
    text-align: center;
    margin: 20;
}

#interface-box {
    display: inline-block;
}

#toolbar {
    text-align: left;
    padding: 0 3px 4px 3px;
    background: #eeeeee;
    box-shadow: 0 5px 20px 0;
    /*border: 3px solid #1155bb;
    border-bottom: none;*/
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0 20px;
    font: 13px Arial;
}

#toolbar h1 {
    margin: 0;
    font: 15px Arial;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
}

#toolbar h1 sup {
    font: 10px Arial;
}

#status-line {
    font-size: 15px;
    vertical-align: middle;
    margin: 0 10px;
}

#cps {
    font: 8px monospace;
}

#bottom {
    border: 10px solid #dddddd;
    border-radius: 5px;
    box-shadow: 0 5px 20px 0;
    font-size: 0;
}

#canvas {
    background: white;
    border: 1px solid #bbbbbb;
}

#debugger-box {
    display: none;
    font: 15px monospace;
    background: #dddddd;
    text-align: left;
    border-left: 10px solid #dddddd;
}

#debugger-box #line-display {
    float: left;
    overflow: scroll;
    height: 322px;
    background: white;
}

#debugger-box #side-box {
    float: left;
}

#debugger-box #side-box #internals-display {
    font-size: 12px;
    padding: 0 10px;
    margin: 0;
}

#debugger-box .line {
    padding: 0 10px;
}

#debugger-box .line.odd {
    background: #dddddd;
}

#debugger-box .line.current {
    background: #ffff00;
}
